.card{
    background-color: white;
}
.cardItems{
    display: flex;
    align-items: center;
    padding: 15px 10px 15px 10px;
    img {
        padding: 0.5em;
        max-width: 35%;
    }
}
span.styleCardTitle {
    font-size: 22px;
}
p.styleLocationLabel {
    font-size: 14px;
}