.MuiAppBar-colorPrimary {
    color: #fff;
    background-color: #63DAFB;
  }
  
  .hamburger-icon, .header-icon {
    width: 65%;
  }
  
  img.logo {
    width: 75%;
  }
  
  .login_detials {
    margin: auto;
    position: absolute;
    right: 25px;
    font-size: 10px;
  }
  
  .head-alert, .para-alert {
    margin-top: 0px;
  }
  
  .MuiListItemIcon-root {
    margin-left: 10px;
  }